.index {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  h1 {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    line-height: 1em;
    margin-bottom: 1rem;
    user-select: none;
    font-weight: normal;

    img {
      width: 1em;
      height: 1em;
      margin-right: .25em;
    }
  }

  .construction {
    padding: .5em;
    border-radius: .5em;
    /* https://css-tricks.com/snippets/css/css-repeating-gradients/ */
    background-image: repeating-linear-gradient(
        -45deg,
        rgba(yellow, .05),
        rgba(yellow, .05) 10px,
        rgba(black, .05) 10px,
        rgba(black, .05) 1em
    );
    background-repeat: repeat;
    color: black;
    font-weight: bold;
    font-size: 1.2em;
    border: .125em solid;
  }
}
